@model AgroCommerce.Core.AnimalType
@{
    ViewData["Title"] = "AnimalTypeDetails";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<h1>AnimalTypeDetails</h1>

<div class="card-body row">
    <div class="col-md-6">
        <p>@Html.DisplayNameFor(model => model.Name)</p>
        <p> @Html.DisplayNameFor(model => model.Class)</p>
        <p>@Html.DisplayNameFor(model => model.Breed)</p>
    </div>
    <div class="col-md-6">
        <p>@Html.DisplayFor(model => model.Name)</p>
        <p>@Html.DisplayFor(model => model.Class)</p>
        <p>@Html.DisplayFor(model => model.Breed)</p>
    </div>
    <div class="row">
        @Html.ActionLink("Edit", "EditAnimalType", new { id = Model.ID }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Back to List", "AnimalTypes", null, new { @class = "btn btn-success" })
    </div>
</div>